/* Images created by: https://unsplash.com/@pawel_czerwinski */


/* =============== Google Font =============== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

/* =============== NORMALIZE CSS =============== */

@import url(./normalize.css);

/* ========= Universal Selector ========= */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* img {
    height: auto;
    width: 100%;
}

html {
    /* 10x font size of root element */
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}


/* ========= CSS Color Variable ========= */

:root {
    /* --color-primary: #FD023E;
    /* --color-primary: #dc143c; */
    --border-radius: 30px;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spartan, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.player-container {
    height: 50rem;
    width: 40rem;
    background: #e7e7e7;
    border-radius: 2rem;
    /*shadow: horizontal, verticle, blur, spread, color-with opacity */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.img-container {
    height: 30rem;
    width: 30rem;
    position: relative;
    top: -50px;
    left: 50px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    /*shadow: horizontal, verticle, blur, spread, color-with opacity */
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}


/* Progress */

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}


/* Controls */

.player-controls {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.main-button {
    font-size: 40px;
    position: relative;
    top: 3px;
}


/* Media Query: iPhone (Vertical) */

@media screen and (max-width: 376px) {
    .player-container {
        width: 95vw;
    }
    .img-container {
        left: 29px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    .player-controls {
        top: -10px;
        left: 100px;
    }
}